@font-face {
  font-family: 'douyu';
  src: url('@/fonts/DOUYU.TTF');
  font-weight: normal;
  font-style: normal;
}

.font-douyu {
  font-family: 'douyu';
}

@font-face {
  font-family: 'oppo';
  src: url('@/fonts/OPPOSans-H.ttf');
  font-weight: normal;
  font-style: normal;
}

.font-oppo {
  font-family: 'oppo';
}