@import "@/fonts/index.scss";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  user-select: none;
}

#index {
  width: 1920px;
  height: 1080px;
  transform-origin: center center;
  position: fixed;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tdt-control-copyright {
  display: none !important;
}

.el-overlay {
  z-index: 4000 !important;
  background-color: rgba($color: #000000, $alpha: .8) !important;
}

.el-message {
  z-index: 5000 !important;
}